* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-Regular, Helvetica Neue, Helvetica, Tahoma, Arial, Sans-serif;
}

body {
    background-color: #F5F5F5;
    height: 4500px;
}

.top {
    background-color: #F85606;
    padding: 8px 115px;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.top a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;

}

.navbar {
    background: #F85606;
    padding: 12px 25px;
    position: relative;
    display: flex;
    align-items: center;
    height: 90px;
}

.logo {
    width: 120px;
    margin: 0 0 0 180px;

}

.search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    max-width: 50%;
    background: #FFFFFF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 50px;
}

.search input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.search button {
    background: #FFE1D2;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    color: #F9722F;
    height: 50px;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 610px;
    top: 50%;
    transform: translateY(-50%);
}

.cart i {
    font-size: 22px;
    color: #f5f5f5;
    cursor: pointer;
}

:root {
    --orange: #F85606;
    --muted: #f6f6f6;
    --text: #222;
    --container: 1200px;
}

.all {
    margin: 0 auto;
}

.container {
    width: 92%;
    max-width: var(--container);
    margin: 0 auto
}

.top-section {
    background: #F5F5F5;
    padding: 18px 0
}

.top-section .container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-direction: row;
}

.hero-banner {
    width: 72%
}

.hero-banner img {
    width: 100%;
    height: 320px;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.app-promo {
    width: 28%;
    padding: 18px;
    border-radius: 8px;
    color: #FFFFFF;
    background: linear-gradient(to right, #F05000, #F97838);
}

.app-head {
    display: flex;
    gap: 12px;
    align-items: center;
    background: #FFEBDC;
    color: #6C1D2D;
}

.app-head img {
    width: 40px;
    cursor: default;
}

.app-head h4 {
    margin: 0;
    font-size: 15px;
}

.rating {
    margin-top: 6px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.rating i {
    color: yellow
}

.app-features {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.feat {
    display: flex;
    gap: 10px;
    align-items: center;
    background: rgba(255, 255, 255, 0.06);
    padding: 8px;
    border-radius: 6px;
}

.feat img {
    width: 36px;
    height: 36px;
    object-fit: contain;
    cursor: pointer;
}

.qr-row {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 14px;

}

.qr {
    width: 90px;
    background: #fff;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.stores {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.store {
    display: flex;
    gap: 8px;
    align-items: center;
}

.store img {
    width: 18px;
    cursor: pointer;
}

.store button {
    width: 100px;
    cursor: pointer;


}

.download-now {
    margin-top: 14px;
    font-weight: 700;
}

@media (max-width:760px) {
    .top-section .container {
        flex-direction: column
    }

    .hero-banner {
        width: 100%
    }

    .app-promo {
        width: 100%
    }
}

.a {
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.containers p {
    font-size: 22px;
    color: #424242;
    margin: 8px;
    width: 68%;
    margin: 0 auto;
    margin-top: 10px;

}

.alls {
    background-size: contain;
    border-bottom: 1px solid #d5d5d5;
    height: 60px;
    margin-bottom: 10px;
    border-top: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 68%;
    background: #FFFFFF;
    margin-top: 10px;

}

.text {
    color: #f57224;
    font-size: 14px;
    align-content: center;
    margin: 20px;

}

.texts {
    background-color: transparent;
    border: 1px solid #f57224;
    border-radius: 2px;
    color: #f57224;
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    line-height: 35px;
    margin: 13px 11px 0 0;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.productrow {
    width: 68%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background: #F5F5F5;
    gap: 15px;
    padding: 10px 0;

}

.productcard {
    width: 16%;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #f1f1f1;

}

.productcard img {
    width: 188px;
    object-fit: cover;
    height: 188px;
    border-radius: 4px;
    transition: transform 0.3s ease;

}

.productcard img:hover {
    transform: scale(1.05);
}

.title {
    font-size: 14px;
    margin: 6px 0;
    height: 38px;
}

.price {
    letter-spacing: -.56px;
    color: #f57224;
    font-weight: bold;
    font-size: 16px;
}

.oldprice {
    color: #9e9e9e;

    font-size: 12px;
}

.oldprice span {
    font-size: 14px;
    color: #212121;
    margin-left: 5px;

}

.eighteen {
    display: flex;
    width: 68%;
    margin: 0 auto;
    justify-content: space-between;
    gap: 3px;
    background: #F5F5F5;
    padding: 10px 0;
    object-fit: cover;

}

.eight {
    width: 1000%;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    height: 1000%;
    object-fit: cover;
    overflow: hidden;
}

.eight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.3s ease;

}

.eight img :hover {
    transform: scale(1.05);
}

.para {
    color: #212121;
    font-size: 14px;
    height: 36px;
    line-height: 18px;
    margin: 8px 12px 0;
    text-align: center;
}

img:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.nine {
    display: flex;
    width: 68%;
    margin: 0 auto;
    justify-content: space-between;
    gap: 3px;
    background: #F5F5F5;
    padding: 10px 0;
}

.nineteen {
    width: 1000%;
    background: #ffffff;
    border-radius: 6px;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    height: 1000%;
    overflow: hidden;

}

.nineteen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;



}

.stars {
    font-size: 10px;

}

.three {
    font-size: 12px;
    color: #9e9e9e;
}

.two {
    font-size: 12px;
    color: #212121;
    margin-left: 10px;
    opacity: .8;
}

.green {
    text-align: center;
    width: 68%;
    margin: 30px auto;
}

.learn {
    padding: 12px 40px;
    background: #F5F5F5;
    border: 1.5px solid #1a9cb8;
    color: #1A9CBB;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 45%;
    height: 45%;
}

.learn:hover {
    border-color: #f85606;
    color: #f85606;
}

.footer {
    width: 68%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    color: #333;
    padding-bottom: 40px;
}

.footer-left {
    display: flex;
    gap: 80px;
}

.footer-box h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-box p {
    margin: 4px 0;
    font-size: 13px;
    cursor: pointer;
}

.footer-box p:hover {
    color: #f85606;
}

.download-app {
    width: 68%;
    margin: 50px auto;
    text-align: center;
}

.download-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.daraz-logo {
    width: 45px;
}

.text-side h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.text-side p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.app-buttons img {
    height: 45px;
    margin-left: 10px;
    cursor: pointer;
}

.appgallery-box img {
    margin-top: 17px;
    height: 45px;
    cursor: pointer;
    margin-left: 300px;
}

.payment-verified-section {
    width: 68%;
    margin: 40px auto;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    background: #FFFFFF;
    padding: 20px 0;
}

.payment-methods {
    flex: 2;
}

.payment-methods h4 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.payment-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 25px;
}

.payment-logos img {
    width: 60px;
    height: auto;
    padding-top: 15px;
}

.verified-center {
    flex: 1;
    text-align: center;

}

.verified-center h4 {
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
}

.verified-center img {
    width: 120px;
    height: auto;
}

.footer-bottom {
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
    gap: 150px;
}

.footer-left h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.countries-list {
    display: flex;
    gap: 25px;
}

.country-item {
    text-align: center;

}

.country-item img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;

}

.country-item p {
    font-size: 13px;
    margin-top: 5px;
}

.footer-center h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    gap: 18px;
    font-size: 26px;
    color: #333;
}

.social-icons i {
    cursor: pointer;
}

.iqra-footer {
    width: 100%;
    background: #f57224;
    padding: 15px 0;
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #ddd;
    
}

.iqra-footer p {
    color: #444;
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 500;
    margin: 0;
}

.iqra-footer span {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    font-style: italic;
  
}
